@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Padauk&family=Roboto:ital,wght@0,500;1,300&family=Rubik&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #ffffff;
}

h1,
h2,
h3 {
    color: black;
    font-weight: 1.25rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}


img {
    max-width: 100%;
    height: auto;
}

/*---------------------*/
/* REUSABLE CSS CLASSES */
/*---------------------*/



/*---------------------*/
/* NAVBAR */
/*---------------------*/


.navbar-light .container-fluid .navbar-nav .nav-link {
    margin-left: 2rem;
    color: black;
    font-family: 'Poppins'sans-serif;
    font-size: 16px;
    font-size: 1.1rem;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.03em;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}


.navbar-light .container-fluid .navbar-nav>button {
    margin-left: 10rem;

}


/*---------------------*/
/* HERO */
/*---------------------*/

.hero-img {
    height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .8;

}



.hero-title {
    position: relative;
    bottom: 220px;
    color: #fff;
    font-size: 3rem;
    line-height: 1.12;
    font-weight: 600;
    line-height: 1.2;
}

.hero-description {
    position: relative;
    bottom: 180px;
    padding: 8px 24px;
    border-radius: 10px;
}



.hero-search-container {
    position: relative;
    bottom: 160px;
    justify-self: center;



}

form.example {
    border-radius: 1rem;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 75%;
    background: #f1f1f1;
    border-radius: 1rem 0rem 0rem 1rem;
}


form.example button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0rem 1rem 1rem 0rem;
}


/*---------------------*/
/* PROPERTIES */
/*---------------------*/



.properties-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: black;
    margin-top: 4rem;
    justify-content: center;
    color: #2ECA6A;
}

.properties-subtitle {
    text-align: center;
    position: relative;
    bottom: 20px;
    font-family: 'Inter', sans-serif;
}



/*---------------------*/
/* PROPERTY SECTION */
/*---------------------*/

.property-header {
    display: flex;
}

.property-title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #2ECA6A;
}



.property-box {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: center;
    row-gap: 2.5rem;
    position: relative;
}

.property-image {
    position: relative;
    color: white;
    width: 100%;
}

.property-img {
    width: 100%;
    display: block;
    height: auto;
    opacity: .8;
}

.property-left {
    position: relative;
    bottom: 100px;
    font-size: 1.5rem;
    text-align: left;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2ECA6A;
    overflow: hidden;
    width: 100%;
    height: 0;
    opacity: 0;


}

.property-image:hover .overlay {
    height: 15%;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease-in;
    z-index: 2;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    opacity: 1;
}



.property .swiper-pagination {
    margin-top: 20px;
    position: relative;
}


.property .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2ECA6A;
}

.property .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #2ECA6A;
    opacity: 1;
    border: 1px solid #2ECA6A;
    color: yellow;
}



.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 200px;
}

.owl-prev span,
.owl-next span {
    font-size: 80px;
    color: black;
}

.owl-theme,
.owl-nav[class*="owl-"]:hover {
    background: transparent;
}



/*---------------------*/
/* Agent section */
/*---------------------*/



.agent-container {
    margin-top: 100px;
}

.agent-header {
    display: flex;
}

.agent-title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #2ECA6A;
}



.agent-image {
    margin: 1rem;
}

.agent-box {
    justify-content: center;
    row-gap: 2.5rem;
    position: relative;

}

.agent-image {
    position: relative;
    width: 50%;
}

.agent-img {
    display: block;
    width: 100%;
    height: auto;
}

.agent-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2ECA6A;
    overflow: hidden;
    width: 100%;
    height: 0;
    opacity: 0.8;
}

.agent-image:hover .agent-overlay {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease-in;
    z-index: 2;
}

.agent-text {
    text-align: left;
    margin-left: .5rem;
    padding-top: 1.5rem;
    color: black;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.agent-description {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}


.agent-contact {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.agent-icon {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    column-gap: 2rem;
    cursor: pointer;

}

.agent-icon i {
    border-radius: 50%;
    font-size: 1.7rem;
    color: black;

}

.agent-name {
    color: black;
    font-family: 'Roboto', sans-serif;
}



/*---------------------*/
/* blog section */
/*---------------------*/

.blog-container {
    margin-top: 100px;
}

.blog-header {
    display: flex;
}

.blog-title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #2ECA6A;
}


.blog-image {
    width: 100%;
    height: 300px;
}



.blog-box {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: center;
    row-gap: 2.5rem;
    position: relative;

}

.blog .swiper-pagination {
    margin-top: 20px;
    position: relative;
}


.blog .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2ECA6A;
}

.blog .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #2ECA6A;
    opacity: 1;
    border: 1px solid #2ECA6A;
    color: #fff;
}


/*---------------------*/
/* Testimonials section */
/*---------------------*/

.testimonial-container {
    margin-top: 60px;
}

.testimonail-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: black;
    margin-top: 4rem;
    color: #2ECA6A;
}





.testimonial .swiper-pagination {
    margin-top: 20px;
    position: relative;
}


.testimonial .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2ECA6A;
}

.testimonial .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #2ECA6A;
    opacity: 1;
    border: 1px solid #2ECA6A;
    color: #fff;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

.Hero-About-img {
    height: 550px;
    max-width: 100%;
    background-image: cover;
}

.Hero-About-title {
    position: relative;
    bottom: 200px;
    color: #2ECA6A;
    font-weight: 4rem;
    font-size: 4rem;
}

.Hero-About-description {
    position: relative;
    bottom: 200px;
}

.about-header {
    margin-top: 2rem;
}

.about-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    color: #2ECA6A;
}

.about-subtitle {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
}

.about-description {
    text-align: center;
}

.about-rating {
    text-align: center;
    padding: 20px;
}

.about-ratingone {
    padding: 20px;
}


.about-ratingspan {
    color: #2ECA6A;
}

.about-image {
    text-align: center;
}

.video-container {
    margin-top: 1.5rem;
    max-width: 100%;
}



.video-data {
    background-color: #2ECA6A;
    padding: 2rem;
}

.video-dataone {
    text-align: center;
    color: #fff;
}

.video-datathree {
    font-size: 1rem;
    color: #fff;
}

.video-databutton {
    border: 1px solid black;
    padding: .5rem;
    color: #fff;
    background-color: #000000;
    font-size: .7rem;
}

.about-testimonial {
    margin-top: 70px;
}

.about-testimonail-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    color: #2ECA6A;
}

.about-testimonail-subtitle {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 42px;
    color: #000000;
}

.about-testimonial-image {
    border-radius: 50%;
    height: 95px;

}

.about-testimonial-box {
    border: 4px solid white;
    background-color: white;
    box-shadow: #fff;
    padding: 1rem;
}

.about-testimonial-subbox {
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 4rem;
}

.about-testimonial-subbox h2 {
    position: absolute;
    bottom: 81px;
    left: 160px;
    font-size: 1rem;
}

.about-testimonial-subbox h4 {
    position: absolute;
    bottom: 51px;
    left: 160px;
    font-size: .7rem;
}

.about-testimonial-icon {
    border-radius: 50%;
    background-color: #2ECA6A;
    justify-content: center;
    padding: 8px;
    color: #fff;
    border: 1rem;
}

.about-testimonial .swiper-pagination {
    margin-top: 20px;
    position: relative;

}


.about-testimonial .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2ECA6A;
}

.about-testimonial .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #2ECA6A;
    opacity: 1;
    border: 1px solid #2ECA6A;
    color: #fff;
}

/* MEDIA QUERY */
@media screen and (min-width: 320px) {
    .about-img {
        width: 100%;
        height: 100%;
    }

    .video-container {
        margin-top: 1.5rem;
        max-width: 100%;
    }

    .video-img {
        width: 100%;
    }

    .video-data {
        width: 100%;
        height: 100%;

    }

    .video-databutton {
        position: relative;
        justify-self: center;
    }

    .about-rating {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}

@media screen and (min-width: 475px) {
    .about-rating {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(2, max-width);
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .about-rating {
        display: flex;
        flex-direction: row;
        grid-template-columns: repeat(2, max-width);
        justify-content: center;
    }

    .about-img {
        width: 80%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .video-img {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .about-rating {
        display: flex;
        flex-direction: row;
        grid-template-columns: repeat(2, max-width);
        justify-content: center;
    }

    .about-image {
        height: 40%;
        /* position: absolute; */
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .video-img {
        width: 100%;
    }


    .video-dataone {
        text-align: left;
        margin-left: 8rem;
        font-family: inter;
        font-family: inter;
    }

    .video-datathree {
        text-align: left;
        margin-left: 8rem;
    }

    .video-databutton {
        position: absolute;
        width: 99px;
        height: 41px;
        left: 895px;
        top: 1759px;
    }

    .about-img {
        width: 700px;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.home-contact-container {
    background-color: #D9D9D9;
    width: 100%;
    height: 229px;
    left: 0px;
    top: 81px;
}

.home-contact-title {
    position: absolute;
    width: 246px;
    height: 54px;
    text-align: center;
    /* left: 48px; */
    top: 81px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #000000;
}

.contact-title {
    text-align: center;
}


.contact .info-box {
    background-color: #fff;
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
    padding: 20px 0 30px 0;
}

.contact .info-box i {
    font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    background-color: #fff;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 30px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #106eea;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
    background: #106eea;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #3b8af2;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# HOME-BLOG SECTION
--------------------------------------------------------------*/



.blog-home-img {
    height: 550px;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;

}

.blog-home-property {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    font-family: 'inter'sans-serif;
    color: #fff;
}

.blog-home-services {
    margin-top: 120px;
}


.blog-home-text {
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.blog-home-filter {
    /* color: rgb(54, 134, 247); */
    color: black;
    font-family: Poppins, sans-serif;
    padding-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    word-spacing: 20px;

}

.blog-home-title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 27px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}


.blog-home-filterslink {
    text-transform: uppercase;
    color: #2ECA6A;
    cursor: pointer;
}

.blog-home-description {
    font-size: 1rem;
    color: #999999;
    font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 768px) {
    .blog-home-group {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        /* column-gap: .5rem; */
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .blog-home-box {
        width: 100%;
        margin-top: 40px;
        padding: .55rem;
        /* background-color: #fff; */
    }
}

@media screen and (min-width: 1024px) {
    .blog-home-group {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .blog-home-box {
        width: 100%;
        margin-top: 40px;
        padding: .55rem;
    }


}



/*--------------------------------------------------------------
# single Page Blog
--------------------------------------------------------------*/

.single-blog-img {
    height: 330px;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    background-image: cover;
}

.single-blog-property {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    font-weight: 600px;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.single-blog-content {
    margin-top: 5rem;
    background-color: #fff;
}


.blog-contentB h2 {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.blog-subcontentB {
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.5rem;
}

form.singleblogbutton {
    border-radius: 1rem;
}

form.singleblogbutton input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 75%;
    background: #f1f1f1;
    border-radius: .5rem 0rem 0rem .5rem;
}


form.singleblogbutton button {
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0rem .5rem .5rem 0rem;
}

.blog-maincontentB {
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.5rem;
    margin-top: .7rem;
}

.blog-supercontentB {
    display: flex;
    column-gap: 1.3rem;
    margin-top: 20px;
    background-color: whitesmoke;
}

.blog-supercontentBprice h3 {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

@media screen and (min-width: 280px) {}

@media screen and (min-width: 1440px) {
    .single-blog-container {
        /* min-width: 1440px; */
        margin-left: 150px;
        margin-right: 150px;
    }

    .blog-contentA img {
        width: 90%;
    }

    .blog-contentA p {
        word-spacing: 10px;
        line-height: 1.2;
        margin-top: 20px;
        width: 90%;
    }

}

/* FOOTER SECTION */

#footer {
    /* background-color: #2ECA6A; */
    background-color: #000000;
    opacity: .9;
    margin-top: 100px;
}


.footer-heading h2 {
    /* color: #000000; */
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.footer-heading p {
    text-decoration: none;
    /* color: #555555; */
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer-heading a {
    text-decoration: none;
    /* color: #000000; */
    color: #fff;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

.footer-2 {
    display: flex;
    flex-direction: column;
}

.footer-3 {
    display: flex;
    flex-direction: column;
}

.footer-icon {
    position: relative;
    align-items: center;
    left: -260px;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
}



.footer-icon i {
    margin-right: 1.5rem;
    font-size: 1.2rem;

}

.footer-subsection {
    margin-bottom: 50px;
}

/* PRELOADER */
#loader {

    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #2eca6a;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;


}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}



@media screen and (min-width: 280px) {

    .navbar .container-fluid .navbar-brand {
        color: #000;
        font-family: var(--font-secondary);
    }


    .properties-container {
        margin-bottom: 80px;
    }

    .properties-title {
        text-align: center;
    }

    .properties-box-image {
        width: 100%;
        height: 250px;
    }

    .properties-box-title {
        text-align: center;
    }

    .properties-box-description {
        text-align: center;
    }



    .properties-box-button {
        text-align: center;
        padding: 10px 10px 10px;
        border-radius: 5px;
        background-color: #2ECA6A;
        justify-self: center;
        display: block;
        margin: auto;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
        white-space: nowrap;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.5;
        padding: 8px 16px;
        color: rgb(255, 255, 255);
        border-color: transparent;
        box-shadow: rgb(59 65 68 / 70%) 0px 8px 20px -15px;
        outline: none;
    }

    .property-left {
        position: absolute;
        bottom: 20px;
        font-size: 1rem;
        text-align: left;
    }


    .agent-image {
        margin: 1rem;
    }



    .agent-image {
        position: relative;
        width: 100%;
    }

    .agent-img {
        display: block;
        width: 100%;
        height: auto;
    }

    .agent-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #2ECA6A;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        opacity: 0.8;

    }

    .agent-text {
        text-align: left;
        margin-left: .5rem;
        padding-top: 1.5rem;
        color: #fff;
        font-size: .9rem;
    }

    .agent-icon {
        display: flex;
        justify-content: center;
        margin-top: 120px;
        column-gap: 2rem;
    }




    .testimonial-vl {
        border-left: 3px solid #2eca6a;
        height: 290px;
        position: absolute;
        margin-right: 10px;


    }


    .testimonial-right-icon {
        color: #2eca6a;
        font-size: 1rem;
        left: 110px;
        top: 199px;
        position: absolute;
    }

    .testimonial-left-icon {
        color: #2eca6a;
        font-size: 1rem;
        left: 16px;
        position: absolute;
    }

    .testimonial-box p {
        margin-left: 40px;
    }



    .testimonial-name h3 {
        font-size: 1.6rem;
        margin-left: 40px;
    }

    .testimonial-name h5 {
        font-size: .8rem;
        margin-left: 40px;
    }

    .testimonial-img img {
        border-radius: 50%;
        width: 250px;
        height: 250px;

    }

    .testimonial-img {
        justify-content: center;
        display: flex;
    }

    .footer-container {
        padding-left: 10px;
        padding-bottom: 40px;
        padding-top: 30px;
        padding-right: 10px;
    }

}

@media screen and (min-width: 375px) {
    .agent-icon {
        position: relative;
        bottom: 40px;
    }

    .testimonial-vl {
        border-left: 3px solid #2eca6a;
        height: 220px;
        position: absolute;
        margin-right: 10px;


    }


    .testimonial-right-icon {
        color: #2eca6a;
        font-size: 1rem;
        left: 300px;
        top: 130px;
        position: absolute;
    }

    .testimonial-left-icon {
        color: #2eca6a;
        font-size: 1rem;
        left: 16px;
        position: absolute;
    }
}

@media screen and (min-width: 425px) {
    .testimonial-right-icon {
        color: #2eca6a;
        font-size: 1rem;
        left: 270px;
        top: 130px;
        position: absolute;
    }

}



@media screen and (min-width: 768px) {
    .navbar .container-fluid .navbar-brand {
        margin-right: 3rem;

    }

    .property-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .properties-group {
        display: flex;
        grid-template-columns: repeat(3, 1fr);

    }

    .property-img {
        height: 440px;
        width: 100%;
    }


    .property-left {
        position: absolute;
        bottom: 50px;
        font-size: 1.5rem;
        text-align: left;
        margin: 1rem;
    }


    .blog-header {
        flex-direction: row;
        justify-content: space-between;
    }



    .blog-img {
        height: 300px;
        width: 100%;
    }


    .properties-box {
        gap: .2rem;
        flex-direction: row;
        row-gap: .2rem;
    }


    .properties-box:focus {
        border: 1px solid #2eca6a;
        cursor: pointer;

    }


    .properties-box-image {
        width: 128px;
        height: 128px;
        text-align: center;
        display: block;
        margin: auto;
    }

    .properties-box-title {
        text-align: center;
        display: block;
        margin: auto;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.33;
    }

    .properties-box-description {
        text-align: center;
        padding: 10px 10px 10px;
    }

    .properties-box-button {
        text-align: center;
        padding: 10px 10px 10px;
        border-radius: 5px;
        background-color: #2ECA6A;
        justify-self: center;
        display: block;
        margin: auto;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
        white-space: nowrap;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.5;
        padding: 8px 16px;
        color: rgb(255, 255, 255);
        border-color: transparent;
        box-shadow: rgb(59 65 68 / 70%) 0px 8px 20px -15px;
        outline: none;
    }

    .agent-header {
        justify-content: space-between;
    }

    .agent-box {
        display: flex;
    }

    .agent-text {
        /* position: absolute; */
        font-size: 30px;
        bottom: 60px;
    }

    .agent-name {
        font-size: 1rem;
    }

    .agent-description {
        font-size: .8rem;
    }

    .agent-contact {
        font-size: .8rem;
    }

    .agent-img {
        display: block;
        width: 100%;
        height: auto;
    }

    .agent-icon {
        top: 160px;
        position: absolute;
    }

    .testimonial-box {
        display: grid;
        margin-left: 3rem;
        margin-right: 3rem;

    }


    .testimonial-vl {
        border-left: 3px solid #2eca6a;
        height: 160px;
        position: absolute;
        margin-right: 10px;
    }


    .testimonial-right-icon {
        color: #2eca6a;
        font-size: 1rem;
        left: 670px;
        top: 59px;
        position: absolute;
    }

    .testimonial-left-icon {
        color: #2eca6a;
        font-size: 1rem;
        left: 56px;
        position: absolute;
    }

    .testimonial-name {
        margin-bottom: 40px;
    }




}

@media screen and (min-width: 1024px) {
    .navbar .container-fluid .navbar-brand {
        margin-left: 2.5rem;
        font-size: 28px;
        font-weight: 700;
        color: #000;
        font-family: var(--font-secondary);
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;

    }

    .properties-group {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        width: 60%;
        margin: auto;
    }


    .agent-text {
        font-size: 1.3rem;
    }

    .agent-icon {
        display: flex;
        justify-content: center;
        margin-top: 200px;
        column-gap: 2rem;
        font-size: 1.2rem;
    }


    .testimonial-box {
        position: relative;
        justify-content: center;

    }

    .testimonial-vl {
        border-left: 3px solid #2eca6a;
        height: 160px;
        position: absolute;
        left: 9rem;
    }


    .testimonial-right-icon {
        color: #2eca6a;
        font-size: 1rem;
        left: 620px;
        top: -30px;
        position: relative;
    }

    .testimonial-left-icon {
        color: #2eca6a;
        font-size: 1rem;
        left: 6px;
        position: relative;
    }




    .testimonial-name h3 {
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
        padding-left: 30px;
        color: var(--color-default);
        font-family: var(--font-secondary);
    }

    .testimonial-name h5 {
        font-size: 14px;
        color: #6c757d;
        margin-left: 10px;
        padding-left: 30px;
        font-family: var(--font-secondary);
    }






    .footer-container {
        margin: 50px;
    }

    .footer-heading {
        margin-left: 80px;
    }


    /* .footer-subsection {
        margin-left: 300px;
    } */

    .footer-subsection p {
        margin-right: 200px;
    }



}


@media screen and (min-width: 1440px) {

    .navbar .container-fluid .navbar-brand {
        margin-left: 5.5rem;
        font-size: 28px;
        font-weight: 700;
        color: #000;
        font-family: var(--font-secondary);
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;

    }

    .testimonial-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .testimonial-box {
        position: relative;
        justify-content: center;
    }

    .testimonial-vl {
        position: absolute;
        left: .23rem;
    }
}