@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: 'Poppins', sans-serif !important;
    /* font-size: 1.25rem !important; */
}

body {
    /* background-color: #fef8f5; */
    background-color: #f8f9fa;

    color: black;
    font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3 {
    color: black;
    font-weight: 1.25rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}


img {
    max-width: 100%;
    height: auto;
}

/*---------------------*/
/* REUSABLE CSS CLASSES */
/*---------------------*/



/*---------------------*/
/* NAVBAR */
/*---------------------*/

/* .navbar .container-fluid .navbar-brand {
    margin-left: 7.3rem;
} */

.navbar-light .container-fluid .navbar-nav .nav-link {
    margin-left: 2rem;
    color: black;
}


.navbar-light .container-fluid .navbar-nav>button {
    margin-left: 10rem;

}


/*---------------------*/
/* HERO */
/*---------------------*/

.hero-img {
    height: 90vh;
    max-width: 100%;
}

.hero-title {
    position: relative;
    bottom: 300px;
    color: black;
    font-weight: 4rem;
    font-size: 4rem;
}

.hero-description {
    position: relative;
    bottom: 300px;
}


/*---------------------*/
/* PROPERTIES */
/*---------------------*/

.properties-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: black;
    margin-top: 4rem;
    justify-content: center;
    color: #2ECA6A;
    /* text-align: center; */
}

.properties-subtitle {
    text-align: center;
    /* margin-top: .5rem; */
    position: relative;
    bottom: 20px;
}

.properties-group {
    /* grid-template-columns: repeat(4, 1fr); */
    display: flex;
    justify-content: center;
    /* row-gap: 2.5rem; */
    /* position: relative; */
    bottom: 80px;
    justify-self: center;
    text-decoration: none;
    color: #000000;

}


.properties-box {
    border: 2px solid #D9D9D9;
    /* position: relative; */
    /* width: 173px;
    height: 146px;
    left: 372px; */
    top: 873px;
    padding: 2rem;

    margin: 1rem;

    background: #D9D9D9;
    text-decoration: none;
    margin-top: 20px;
    /* grid-template-columns: repeat(3, 1fr); */

}

.properties-box:hover {
    background-color: #2ECA6A;
    color: #fff;
}

.properties-icon {
    position: relative;
    font-size: 3rem;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%)
}

.properties-description {
    display: flex;
    align-items: center;
    justify-content: center;

}



/*---------------------*/
/* PROPERTY SECTION */
/*---------------------*/

.property-header {
    display: flex;
    /* row-gap: 4rem; */
}

.property-title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    /* color: black; */
    color: #2ECA6A;
}

/* .property-subtitle {
    text-align: right;
    margin-left: 800px;

} */

.property-box {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: center;
    row-gap: 2.5rem;
    position: relative;
    /* bottom: 80px; */
}

.property-image {
    position: relative;
    /* text-align: center; */
    color: white;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%); */
    /* position: relative; */
    width: 100%;

}

.property-img {
    width: 100%;
    display: block;
    height: auto;
    /* opacity: 1; */
}

.property-left {
    position: relative;
    bottom: 100px;
    /* right: 25px; */
    font-size: 1.5rem;
    text-align: left;
    /* padding: .2rem; */
}

.property-image:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    bottom: 0px;
    background: #2ECA6A;
    color: #f1f1f1;
    width: 100%;
    /* transition: .5s ease; */
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;



}

.property .swiper-pagination {
    margin-top: 20px;
    position: relative;
}


.property .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2ECA6A;
}

.property .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #2ECA6A;
    opacity: 1;
    border: 1px solid #2ECA6A;
    color: yellow;
}



.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 200px;
}

.owl-prev span,
.owl-next span {
    font-size: 80px;
    color: black;
}

.owl-theme,
.owl-nav[class*="owl-"]:hover {
    background: transparent;
}

/*---------------------*/
/* Agent section */
/*---------------------*/



.agent-container {
    margin-top: 100px;
}

.agent-header {
    display: flex;
    /* row-gap: 4rem; */
}

.agent-title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    /* color: black; */
    color: #2ECA6A;
}

/* .agent-subtitle {
    text-align: right;
    margin-left: 920px;

} */

.agent-image {
    margin: 1rem;
}

.agent-box {
    /* grid-template-columns: repeat(3, 1fr); */
    /* display: flex; */
    justify-content: center;
    row-gap: 2.5rem;
    position: relative;

}

.agent-image {
    position: relative;
    width: 50%;
}

.agent-img {
    display: block;
    width: 100%;
    height: auto;
}

.agent-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2ECA6A;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.8;



}

.agent-image:hover .agent-overlay {
    height: 100%;
}

.agent-text {
    text-align: left;
    margin-left: .5rem;
    padding-top: 1.5rem;
    color: #fff;
    font-size: 1.4rem;
}

.agent-icon {
    display: flex;
    justify-content: center;
    /* bottom: 0px; */
    margin-top: 200px;
    column-gap: 2rem;
    /* justify-content: space-evenly; */
}

.agent-name {
    color: #fff;
}



/*---------------------*/
/* blog section */
/*---------------------*/

.blog-container {
    margin-top: 100px;
}

.blog-header {
    display: flex;
    /* row-gap: 4rem; */
}

.blog-title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    /* color: black; */
    color: #2ECA6A;
}

/* .blog-subtitle {
    text-align: right;
    margin-left: 920px;
    
} */




.blog-image {
    width: 100%;
    /* margin-left: 1rem; */
    height: 500px;
}

.blog-box {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: center;
    row-gap: 2.5rem;
    position: relative;
}

.blog .swiper-pagination {
    margin-top: 20px;
    position: relative;
}


.blog .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2ECA6A;
}

.blog .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #2ECA6A;
    opacity: 1;
    border: 1px solid #2ECA6A;
    color: #fff;
}


/*---------------------*/
/* Testimonials section */
/*---------------------*/

.testimonial-container {
    margin-top: 60px;
}

.testimonail-title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: black;
    margin-top: 4rem;
    color: #2ECA6A;
}

.testimonial-box {
    /* grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
    row-gap: 4.5rem;
    position: relative; */
}


.testimonial-img {
    /* position: absolute; */
    width: 544px;
    height: 365px;
    left: 103px;
    top: 3096px;
    margin-right: 20px;
}

.testimonial-data {

    /* width: 628px;
    height: 78px;
    left: 690px;
    margin-top: 10px; */
    /* top: 200px; */

}


.testimonail-icon {
    border-radius: 50%;
    background-color: #2ECA6A;
    justify-content: center;
    padding: 8px;
    color: #fff;
    /* position: absolute; */
    /* left: 949px; */
}


.testimonial-description {
    /* position: absolute;
    width: 628px;
    height: 78px;
    left: 690px;
    top: 90px; */
}

.testimonial .swiper-pagination {
    margin-top: 20px;
    position: relative;
}


.testimonial .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2ECA6A;
}

.testimonial .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #2ECA6A;
    opacity: 1;
    border: 1px solid #2ECA6A;
    color: #fff;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

.Hero-About-img {
    height: 550px;
    max-width: 100%;
}

.Hero-About-title {
    position: relative;
    bottom: 200px;
    color: #2ECA6A;
    font-weight: 4rem;
    font-size: 4rem;
}

.Hero-About-description {
    position: relative;
    bottom: 200px;
}

.about-header {
    margin-top: 2rem;
}

.about-title {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    color: #2ECA6A;
}

.about-subtitle {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
}

.about-description {
    text-align: center;
}

.about-rating {
    text-align: center;
    padding: 20px;
}

.about-ratingone {
    padding: 20px;
}


.about-ratingspan {
    color: #2ECA6A;
}

.about-image {
    text-align: center;
}

.video-container {
    margin-top: 1.5rem;
    text-align: center;
    /* max-width: fit-content; */
    width: 100%;
}

.video-img {
    text-align: center;
}

.video-data {
    background-color: #2ECA6A;
    padding: 2rem;
}

.video-dataone {
    text-align: center;
    color: #fff;
}

.video-datathree {
    font-size: 1rem;
    color: #fff;
}

.video-databutton {
    border: 1px solid black;
    padding: .5rem;
    color: #fff;
    background-color: #000000;
    font-size: .7rem;
}

.about-testimonial {
    margin-top: 70px;
}

.about-testimonail-title {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    color: #2ECA6A;
}

.about-testimonail-subtitle {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 42px;
    color: #000000;
}

.about-testimonial-image {
    border-radius: 50%;
    height: 95px;

}

.about-testimonial-box {
    border: 4px solid white;
    background-color: white;
    box-shadow: #fff;
    padding: 1rem;
    /* position: relative; */
}

.about-testimonial-subbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    /* background: #A0C5E8; */
    padding-left: 2rem;
    padding-right: 4rem;
}



.about-testimonial-icon {
    border-radius: 50%;
    background-color: #2ECA6A;
    justify-content: center;
    padding: 8px;
    color: #fff;
    border: 1rem;
    /* position: absolute;
    top: -25px; */
}

.about-testimonial .swiper-pagination {
    margin-top: 20px;
    position: relative;

}


.about-testimonial .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2ECA6A;
}

.about-testimonial .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #2ECA6A;
    opacity: 1;
    border: 1px solid #2ECA6A;
    color: #fff;
}

/* MEDIA QUERY */
@media screen and (max-width: 320px) {
    .about-img {
        width: 100%;
        height: 100%;
    }

    .video-data {
        width: 100%;
        height: 100%;
    }

    .about-rating {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 475px) {
    .about-rating {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(2, max-width);
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .about-rating {
        display: flex;
        flex-direction: row;
        grid-template-columns: repeat(2, max-width);
        justify-content: center;
    }

    .about-img {
        width: 80%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

@media screen and (min-width: 1024px) {
    .about-rating {
        display: flex;
        flex-direction: row;
        grid-template-columns: repeat(2, max-width);
        justify-content: center;
    }

    .about-image {
        height: 40%;
        /* position: absolute; */
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .video-img {
        width: 100%;
    }


    .video-dataone {
        text-align: left;
        margin-left: 8rem;
        font-family: inter;
        font-family: inter;
    }

    .video-datathree {
        text-align: left;
        margin-left: 8rem;
    }

    .video-databutton {
        position: absolute;
        width: 99px;
        height: 41px;
        left: 895px;
        top: 1759px;
    }

    .about-img {
        width: 700px;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.home-contact-container {
    background-color: #D9D9D9;
    /* position: absolute; */
    /* width: 1431px; */
    width: 100%;
    height: 229px;
    left: 0px;
    top: 81px;
}

.home-contact-title {
    position: absolute;
    width: 246px;
    height: 54px;
    text-align: center;
    /* left: 48px; */
    top: 81px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #000000;
}

.contact-title {
    text-align: center;
}


.contact .info-box {
    background-color: #fff;
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
    padding: 20px 0 30px 0;
}

.contact .info-box i {
    font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    background-color: #fff;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 30px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #106eea;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
    background: #106eea;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #3b8af2;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# HOME-BLOG SECTION
--------------------------------------------------------------*/



.blog-home-img {
    height: 550px;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;

}

.blog-home-property {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    font-family: inter;
    color: #fff;
}

.blog-home-services {
    margin-top: 120px;
}

.blog-home-box {
    border: 1px solid;
    width: 20%;
    box-shadow: #fff;
}

.blog-home-title {
    font-size: 1.50rem;
    font-family: inter;
}

.blog-home-filterspan {
    text-transform: uppercase;
    font-size: 13px;
    margin: .5rem;
    /* font-weight: 600; */
}

.blog-home-filterslink {
    text-transform: uppercase;
    font-size: 13px;
    /* font-weight: 600; */
    color: #2ECA6A;
    cursor: pointer;
}

.blog-home-description {
    font-size: 16px;
    color: #999999;
    font-family: 'Nunito, sans';
}

@media screen and (min-width: 1024px) {
    .blog-home-group {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        column-gap: 1.5rem;
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .blog-home-box {
        width: 100%;
        margin-top: 40px;
        padding: 1.33rem;
        background-color: #fff;
    }


}

/* FOOTER SECTION */

#footer {
    background-color: #F3F3F3;
    margin-top: 100px;
}

.footer-container {
    padding: 40px;
}

.footer-2 {
    display: flex;
    flex-direction: column;
}

.footer-3 {
    display: flex;
    flex-direction: column;
}

.footer-icon {

    position: relative;
    /* margin-top: 30px; */
    align-items: center;
    left: -260px;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    /* font-size: 50px; */
}


.footer-icons {
    margin-right: 1.5rem;

}

/* PRELOADER */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}



@media screen and (max-width: 320px) {
    .properties-group {
        display: inline;
    }


    .properties-box {
        align-items: center;
    }

    .property-left {
        position: absolute;
        bottom: 20px;
        /* left: 5px; */
        font-size: 1rem;
        text-align: left;
        /* padding: .2rem; */
    }


    .agent-image {
        margin: 1rem;
    }



    .agent-image {
        position: relative;
        width: 100%;
    }

    .agent-img {
        display: block;
        width: 100%;
        height: auto;
    }

    .agent-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #2ECA6A;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        opacity: 0.8;

    }

    .agent-text {
        text-align: left;
        margin-left: .5rem;
        padding-top: 1.5rem;
        color: #fff;
        font-size: .9rem;
    }

    .agent-icon {
        display: flex;
        justify-content: center;
        /* bottom: 0px; */
        margin-top: 120px;
        column-gap: 2rem;
        /* justify-content: space-evenly; */
    }


    .testimonial-box {
        /* grid-template-columns: repeat(2, 1fr); */
        display: block;
        justify-content: center;
        /* row-gap: 4.5rem; */
        /* position: relative; */
        flex-direction: column;

    }


    .testimonial-img {
        /* position: absolute; */
        width: 544px;
        height: 365px;
        left: 103px;
        top: 3096px;
        margin-right: 20px;
    }

    .testimonial-data {
        /* margin-top: 10px; */
        text-align: center;
    }


    .testimonail-icon {
        /* border-radius: 50%; */
        border-radius: 80%;
        background-color: #2ECA6A;
        justify-content: center;
        /* padding: 8px; */
        color: #fff;
        /* position: absolute; */
        text-align: center;
        justify-content: center;
        margin-top: 30px;

    }


    .testimonial-description {
        align-items: center;
        margin-top: 50px;

    }

}

@media screen and (min-width: 375px) {
    .properties-group {
        display: inline;
    }

    .properties-box {
        align-items: center;
    }

    .property-left {
        position: absolute;
        bottom: 20px;
        /* left: 5px; */
        font-size: 1rem;
        text-align: left;
        /* padding: .2rem; */
    }


    .agent-image {
        margin: 1rem;
    }

    /* .agent-box {
            grid-template-columns: repeat(3, 1fr);
            display: flex;
            justify-content: center;
            row-gap: 2.5rem;
            position: relative;
        
        } */

    .agent-image {
        position: relative;
        width: 100%;
    }

    .agent-img {
        display: block;
        width: 100%;
        height: auto;
    }

    .agent-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #2ECA6A;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        opacity: 0.8;

    }

    .agent-text {
        text-align: left;
        margin-left: .5rem;
        padding-top: 1.5rem;
        color: #fff;
        font-size: .9rem;
    }

    .agent-icon {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }


    .testimonial-box {
        /* grid-template-columns: repeat(2, 1fr); */
        display: block;
        justify-content: center;
        /* row-gap: 4.5rem; */
        /* position: relative; */
        flex-direction: column;

    }


    .testimonial-img {
        /* position: absolute; */
        width: 544px;
        height: 365px;
        left: 103px;
        top: 3096px;
        margin-right: 20px;
    }

    .testimonial-data {
        /* margin-top: 10px; */
        text-align: center;
    }


    .testimonail-icon {
        /* border-radius: 50%; */
        border-radius: 80%;
        background-color: #2ECA6A;
        justify-content: center;
        /* padding: 8px; */
        color: #fff;
        /* position: absolute; */
        text-align: center;
        justify-content: center;
        margin-top: 30px;

    }


    .testimonial-description {
        align-items: center;
        margin-top: 50px;

    }

}

@media screen and (min-width: 768px) {
    .properties-group {
        display: flex;
        grid-template-columns: repeat(2, 2fr);
        flex-direction: row;
    }

    .property-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .property-img {
        height: 440px;
        width: 100%;
    }


    .property-left {
        position: absolute;
        bottom: 50px;
        /* left: 55px; */
        font-size: 1.5rem;
        text-align: left;
        /* padding: .2rem; */
        margin: 1rem;
    }


    .agent-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .agent-box {
        display: flex;
        grid-template-columns: repeat(3, max-width);
    }

    .agent-img {
        width: 100%;
        height: auto;
        display: block;
    }

    .agent-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #2ECA6A;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        opacity: 0.8;

    }

    .agent-text {
        text-align: left;
        margin-left: .5rem;
        padding-top: 1.5rem;
        color: #fff;
        font-size: .9rem;
    }

    .agent-icon {
        display: flex;
        justify-content: center;
        /* bottom: 0px; */
        margin-top: 40px;
        column-gap: 1.5rem;
    }

    .blog-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .testimonial-box {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: row;
    }

    .blog-img {
        height: 440px;
        width: 100%;
    }


}

@media screen and (min-width: 1024px) {
    .properties-box {
        border: 2px solid #D9D9D9;
        /* position: relative; */
        width: 173px;
        height: 146px;
        left: 372px;
        top: 873px;
        padding: 2rem;

        margin: 1rem;

        background: #D9D9D9;
        margin-top: 20px;
        /* grid-template-columns: repeat(3, 1fr); */

    }

    .agent-text {
        font-size: 1.3rem;
    }

    .agent-icon {
        display: flex;
        justify-content: center;
        margin-top: 200px;
        column-gap: 2rem;
        font-size: 1.2rem;
        /* justify-content: space-evenly; */
    }
}